/* styles/Calendar.module.css */
.calendar {
    width: 100%;
    margin: 0 auto;
    background-color: #ff0000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.calendar thead {
    border-radius: 4px;
}

.calendar-header {
    text-align: center;
    margin-bottom: 20px;
}

.calendarDayName {
    border: 1px solid #f1f2f6;
    font-size: 16px;
    background-color: rgb(224, 224, 224);
    padding: 16px 32px;
}

.calendar td {
    text-align: center;
    height: 3rem;
}

.eventBox {
    background-color: #fffafa00;
    overflow: hidden;
    padding: 4px 8px;
    margin-left: 4px;
    border-radius: 16px;
}

.eventBox span {
    font-size: 12px;
}

.fc-event {
    border: none;
}
